.column
  .title
    Join our next virtual interview!
  .description
    Learn how to use version control to collaborate effectively and achieve fast integration patterns
  = link_to "SCM Patterns: Effective teamwork, Practical integration", "http://www.scmpatterns.com/"
  .image-width70pct
    = image_tag "/images/solutions/version-control-collaboration/SCM-Patterns-interview-with-Steve-Berzcuk.png", class: "margin-top10"
  = link_to "Register here", "https://gitlab.zoom.us/meeting/register/tJIldOiorDwuHdaf73xQx6m08ogUsDVcw0Eh", class: "read-more"
